<ion-header>
  <ion-navbar>
    <ion-title>
      Weather
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-input placeholder="City Name" [(ngModel)]="cityName"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button block (click)="getData()">Show Weather</button>
  <br />

  <ion-card no-margin>

    <ion-item-divider color="light">
      City Map
    </ion-item-divider>
    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{cityName}}&size=600x300&key=AIzaSyBk-l5Kot9pdgEfxW2t4AeoAvY2nYjpPDs" />

    <ion-item-divider color="light">
      Location Details
    </ion-item-divider>
    <ion-item>
      City: {{ weatherInfo.name }}
    </ion-item>
    <ion-item *ngIf="weatherInfo.sys">
      City: {{ weatherInfo.sys.country }}
    </ion-item>
    <ion-item *ngIf="weatherInfo.coord">
      Coordinates: {{ weatherInfo.coord.lon }}, {{ weatherInfo.coord.lat }}
    </ion-item>
  </ion-card>

  <ion-card no-margin>
    <ion-item-divider color="light">
      Weather Detail
    </ion-item-divider>
    <ion-item *ngIf="weatherInfo.main">
      Temperature : {{ weatherInfo.main.temp }} Kelvin
    </ion-item>
    <ion-item *ngIf="weatherInfo.main">
      Pressure : {{ weatherInfo.main.pressure }} mmhg
    </ion-item>
    <ion-item *ngIf="weatherInfo.main">
      Humidity : {{ weatherInfo.main.humidity }} %
    </ion-item>
  </ion-card>

  <ion-card no-margin>
    <ion-item-divider color="light">
      Wind Detail
    </ion-item-divider>
    <ion-item *ngIf="weatherInfo.wind">
      Speed : {{ weatherInfo.wind.speed }} m/sec
    </ion-item>
    <ion-item *ngIf="weatherInfo.wind">
      Angle : {{ weatherInfo.wind.deg }} deg
    </ion-item>
  </ion-card>
</ion-content>
